body {
    background: #fff;
    color: black;
}

kbd {
    background-color: #F7F7F7;
    border: 1px solid #BEBEBC;
}

pre {
    background: #d3d5d4;
    background-color: #d3d5d4;
    page-break-before: always;
}

aside.note::before {
    color: #004080;
}

aside.important::before {
    color: #795600;
}

b.button .label {
    background-color: #F7F7F7;
    border: 1px solid #BEBEBC;
}

h1 span.title-val {
    color: black;
    -webkit-text-fill-color: black;
}

h2 span.title {
    color: black;
    -webkit-text-fill-color: black;
}

h2 span.title-val {
    color: black;
    -webkit-text-fill-color: black;
}

table {
    page-break-inside: avoid;
}

table.table thead {
    background-color: #EE0000;
}

strong.contribs {
    margin-left: 3em;
    color: black;
    -webkit-text-fill-color: black;
}

body a:link[href^="mailto:"] {
    color: blue;
}

b.button {
    background-color: #F7F7F7;
    border: 1px solid #BEBEBC;
}

section.sect2 {
    page-break-after: always;
}

section.sect2:first-of-type {
    page-break-before: unset;
}

#introduction section.sect2:first-of-type {
    page-break-after: unset;
}

hr {
    page-break-before: unset;
}

section.sect2 > div.ordered-list > ol.arabic > li {
    page-break-before:always;
}

div.table {
    page-break-before:always;
}

figure.image{
    page-break-before:always;
}

header.chapter-header {
    display: none;
}

section.sect2.lecture > h2 {
    display: none;
}
