div.callout-list {
  margin-top: 0.5em;
}

div.callout-list ol {
  font-size: 80%;
  margin-left: 1.5em !important;
  list-style-type: none;
}

div.callout-list ol li {
  text-align: left;
}

i.conum {
  color: #EE0000;
  font-family: "Red Hat Mono", "Noto Sans TC", "Noto Sans SC", "Noto Sans Devanagari", "Noto Sans JP", "Noto Sans KR", "Noto Sans Math", "Noto Sans Emoji", monospace, bold;
  font-style: normal;
  font-size: 1.25em;
  font-weight: 100;
}

div.callout-list li > i.conum {
  float: left;
  margin-left: -1.5em;
  display: block;
  width: 1.5em;
}

/* Fixes issue where GEs, Labs, etc can end up with both a step number and callout number */
/* PTL-12042 */
div.callout-list > ol > li::before {
    content: "";
}
